{% extends "games.html" %}

{% block content %}
<h1> БлэкДжек </h1>
    <p> Ваши карты: {{game.get_player_score()}}
        Карты дилера: {{game.get_delear_score()}} </p>
    {% if not game.is_win() %}
        {% if not game.player_pass %}
        <a href="/add" class="btn btn-danger"> Добрать </a>
        <a href="/pass" class="btn btn-danger"> Спасовать </a>
        {% endif %}
    {% elif game.player_win %}
        <p>ВЫ ПОБЕДИЛИ</p>
        <a href="/start" class="btn btn-danger"> Начать новую игру </a>
    {% else %}
        <p>вы Проиграли</p>
        <a href="/start" class="btn btn-danger"> Начать новую игру </a>
    {% endif %}
    <a href="/info" class="btn btn-danger"> info </a>


{% endblock %}